body
  font-family: arial, sans-serif

.bold
  font-weight: bold

.pointer
  cursor: pointer

.f-12
  font-size: 12px

.f-14
  font-size: 14px

.f-18
  font-size: 18px

.box
  border: 1px solid #605b5b
  padding: 30px
  border-radius: 10px
  margin: 10px
  width: 200px
  height: 200px

.w-18
  width: 18%

.w-30
  width: 30%
