@import "src/assets/variables.styl"

body
  font-family: arial, sans-serif

.bold
  font-weight: bold

.pointer
  cursor: pointer

.f-12
  font-size: 12px

.f-14
  font-size: 14px

.f-18
  font-size: 18px

.green-text
  color: lightGreenColor

.grey-card
  background-color: darkGreyColor
  color: #fff
  text-align: center
  padding: 10px
  margin: 10px

.w-30
  width: 30%

.day-icon
  display: inline-block
  height: 25px
  width: 25px
  background-color: #FFEB3B
  border-radius: 50%
  box-shadow: 0 0 20px #feeb3c

.night-icon
  display: inline-block
  height: 25px
  width: 25px
  background-color: #ffffff
  border-radius: 50%
  box-shadow: 0 0 10px #b7b7b7
  position: relative

