<p class="h2 bold my-2 text-center">Favorites</p>
<div class="container">
  <div *ngFor="let favorite of favorites; let index = index" class="grey-card">
    <mat-icon class="pointer text-l" (click)="removeFromFavorites(index)">favorite</mat-icon>
    <p class="h3">{{ favorite.Name }}</p>
    <p class="h4">Now</p>
    <div class="day-icon" *ngIf="favorite.IsDayTime"></div>
    <div class="night-icon" *ngIf="!favorite.IsDayTime"></div>
    <p>{{ favorite.WeatherText }}</p>
    <p *ngIf="favorite.HasPrecipitation">{{ favorite.PrecipitationType }}</p>
    <span class="h2">{{ favorite.Temperature?.Metric?.Value}}°</span>
    <p>{{ favorite.Temperature?.Metric?.Imperial }}</p>
  </div>
</div>

