.day-icon
  display: inline-block
  height: 25px
  width: 25px
  background-color: #FFEB3B
  border-radius: 50%
  box-shadow: 0 0 20px #feeb3c

.night-icon
  display: inline-block
  height: 25px
  width: 25px
  background-color: #ffffff
  border-radius: 50%
  box-shadow: 0 0 10px #b7b7b7
  position: relative

.horizontal-white-border
  border-bottom: 1px solid #fff
  margin: 10px 45px

.vertical-white-border
  border-left: 1px solid #fff
  height: 50px
  margin: 0 10px
